{% import "./sharedYAxisChartMacro.njk" as chart with context %}

<script>

const allConfirmedCases = {{ confirmedCasesMerge | dump | safe }};

</script>

{{ chart.create(
	'allConfirmedCasesChart',
	'Confirmed Cases',
	'allConfirmedCases',
	'new',
	'New Cases',
	'cumulative',
	'Cumulative Cases'
) }}
