{% import "./chartMacro.njk" as chart with context %}

<script>

const cumulativeCases = {{ cumulativeCases | dump | safe }};

</script>

{{ chart.create(
	'cumulativeCasesChart',
	'Total Cumulative Cases',
	'cumulativeCases'
) }}
