{% import "./chartMacro.njk" as chart with context %}

<script>

const newCases = {{ newCases | dump | safe }};

</script>

{{ chart.create(
	'dailyNewCasesChart',
	'Daily New Confirmed Cases',
	'newCases'
) }}
